{% block collection_entry_widget %}
    {{ form_widget(form) }}
{% endblock collection_entry_widget %}

{% block collection_entry_label %}{% endblock  %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}

{%- block art_section_label -%}
    <h2 class="p-2 mt-1 mb-0">{{ label }}</h2>
{%- endblock -%}

{%- block art_section_row -%}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{%- endblock -%}

{% block a2lix_translations_label %}{% endblock %}
